<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dk.bkskjold.nemsport" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NemSport" >
        <activity
            android:name=".UI.edit_event.EditEventActivity"
            android:exported="true" />
        <activity
            android:name=".UI.edit_event.EventAdministrationActivity"
            android:exported="true" />
        <activity
            android:name=".UI.profile.EditProfileActivity"
            android:exported="true" />
        <activity
            android:name=".UI.auth.ForgotPasswordActivity"
            android:exported="true"
            android:parentActivityName=".UI.auth.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.auth.SignupActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.auth.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.event.EventActivity"
            android:exported="false" />
        <activity
            android:name=".UI.event.CreateEventActivity"
            android:exported="true"
            android:label="@string/title_activity_create_event"
            android:parentActivityName=".FragmentContainerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FragmentContainerActivity"
            android:exported="true"
            android:label="@string/title_activity_fragment_container"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>